{% extends 'base.html.twig' %}
{% form_theme formUser 'bootstrap_4_layout.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <div class="space">
    </div>
    <section id="services" class="services">
        <div class="container">
           <div class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2>Modifier mon profil</h2>
            </div>
        </div>    
    </section>
    
    <div class="formCreateAndShow card bg-light border-dark mb-3">
        <div class="card-body">
            <div class="col-md-12 form-group">
                {{ form_start(formUser) }}
                {{ form_row(formUser.login, { 'label':' Login : '})}}
                {{ form_row(formUser.mail, { 'require':'true', 'label':'Mail : '})}}
                {{ form_row(formUser.image, { 'require':'true', 'label':'Avatar : '})}}
                <button type="submit"  class="btn btn-success">Modifier mes informations</button>
                {{ form_end(formUser) }}
            </div>
        </div>
    </div>
    <div class="space">
    </div>
{% endblock %}