{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
 <section id="space">
  </section>
    <section id="services" class="services">
      <div class="container">
           <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Connexion</h2>
        </div>
    </section>

{% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
<div id="centerText" class="col-lg-6">
    <div id="centerText" class="form-row">
        <div class="col-md-6 form-group">

<form method="post">
    <div id="centerText" class="form-group">
        <label for="inputMail">Mail</label>
        <input type="text" value="{{ last_username }}" name="mail" id="inputMail" class="form-control" required autofocus>
    </div> 
    <div id="centerText" class="form-group">   
        <label for="inputPassword">Mot de passe :</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>
    </div>
    <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
        <div id="centerText" class="form-group">
            <button type="submit" class="btn btn-success"> Connexion </button>
        </div>
   </form>
            <p id="centerText"><a href="{{path('forgotten_password')}}">(Mot de passe oublié)</a></p><br/>
            <h6 id="centerText"> Pas encore de compte ? Inscrivez vous ! </h6>
            <p id="centerText"><a href="{{path('security_registration')}}" class="btn btn-primary">Inscription</a></p><br/>
        </div>
    </div>
</div>
{% endblock %}
