{% extends 'base.html.twig' %}

{% form_theme formFigure 'bootstrap_4_layout.html.twig' %}

{% block title %}Ajouter une figure{% endblock %}

{% block body %}
<br/>
<h1>Page de création de figure de snowboard</h1>

{{ form_start(formFigure) }}

    {{ form_row(formFigure.name, { 'label':'Nom de la figure : ','attr': {'placeholder': "Nom de la figure"}})}}
    {{ form_row(formFigure.description, { 'label':'Description : ','attr': {'placeholder': "Description de la figure"}})}}
    {# {{ form_row(formFigure.group, { 'label':'Groupe : '})}} #}
    

    <button type="submit" class="btn btn-success">
    {% if editMode %}
    Enregistrer les modifications
    {% else %}
     Ajouter la figure
     {% endif %}
</button>
    {{ form_end(formFigure) }}


<br/>



<p>Le formulaire comportera les champs suivants :
●	nom ;
●	description ;
●	groupe de la figure ;
●	une ou plusieurs illustration(s) ;
●	une ou plusieures vidéo(s).

Le formulaire n’est accessible que si l’utilisateur est authentifié.

Lorsque l’utilisateur soumet le formulaire, il faut que :
●	cette figure n’existe pas déjà en base de données (contrainte d’unicité sur le nom) ;
●	il soit redirigé sur la page du formulaire en cas d'erreur, en précisant le(s) type(s) d'erreurs ;
●	il soit redirigé sur la page listant des figures avec un message flash donnant une indication concernant le bon déroulement de l'enregistrement en base de données en cas de succès.

Pour les vidéos, l’utilisateur pourra coller une balise embed provenant de la plateforme de son choix (Youtube, Dailymotion…).

</p>
{% endblock %}