{% extends 'base.html.twig' %}

{% block title %}Hello FigureController!{% endblock %}

{% block body %}
<h1>Page de présentation d’une figure</h1>
             </a>  <img src="{{ asset('images/crayon.png') }}" alt="modifier"/><img src= "{{ asset('images/poubelle.jpg') }}"
 alt="poubelle"/> </h4>
la ou les video rattachées à la figure :
<br/>{% for image in figure.image %}
{{ image.link }}  <br/>
      {% endfor %}
	la ou les photos rattachées à la figure ; <br/>

<br/> 
 <p> Catégorie : {{ figure.trickGroup.name }}</p> 
    <p>  Crée le :   {{ figure.createdAt | date('d/m/Y') }} à {{figure.createdAt | date('H.i')}}<br/></p>
             {% if figure.updatedAt  %}
                 <p> Mis à jour le :  {{ figure.updatedAt | date('d/m/Y') }} à {{figure.updatedAt | date('H.i')}}<br/></p>
             {% endif %} 
         {{ figure.name }} <br/>
        {{ figure.description }}<br/>
<br/>


{# <section id="commentaires">
        <div class="comment">
                <div class="row">
                        <div class="col-3">
                                {{comment.user}}
                        </div>
                </div>
        </div> #}



</section>


<h1>Espace de discussion commun autour d’une figure</h1>
<p>Les utilisateurs qui ne sont pas authentifiés peuvent consulter les discussions de toutes les figures. En revanche, ils ne peuvent pas poster de message.

Pour chaque message, il sera affiché les informations suivantes :
●	le nom complet de l’auteur du message ;
●	la photo de l’auteur du message ;
●	la date de création du message ;
●	le contenu du message.

Dans cet espace de discussion, on peut voir la liste des messages postés par les membres, du plus récent au plus ancien.
Ces messages doivent être paginés (10 par pages).

Si l’utilisateur est authentifié, il peut voir un formulaire au dessus de la liste avec un champs “message” qui est obligatoire. L’utilisateur peut poster autant de message qu’il le souhaite.
</p>
{% endblock %}
