<!DOCTYPE html>
<html lang="fr">
    <head>
	<meta name="viewport" content="initial-scale=1,width=device-width">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CRaleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

		<!-- Vendor CSS Files -->
		<link href="{{asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{asset('assets/vendor/icofont/icofont.min.css') }}" rel="stylesheet">
		<link href="{{asset('assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
		<link href="{{asset('assets/vendor/venobox/venobox.css') }}" rel="stylesheet">
		<link href="{{asset('assets/vendor/owl.carousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
		<link href="{{asset('assets/vendor/aos/aos.css') }}" rel="stylesheet">

		<!-- Template Main CSS File -->
		<link href="{{asset('assets/css/styleTemplate.css') }}" rel="stylesheet">
		<link href="{{asset('assets/css/styles.css') }}" rel="stylesheet">

				{% block stylesheets %}{% endblock %}
    </head>

<body>
	<div class="centerText"> 
	{% for message in app.flashes('success') %}
        <div class="alert alert-success bandeau">
            {{ message }}
        </div>
    {% endfor %}
 	</div>
 	<div class="centerText"> 
	 {% for message in app.flashes('warning') %}
        <div class="alert alert-danger bandeau">
            {{ message }}
        </div>
    {% endfor %}
 	</div>

  	<header id="header" class="fixed-top header-transparent">
    	<div class="container d-flex align-items-center">
			<div class="logo mr-auto">
        		<h1 class="text-light"><a href="{{ path('home') }}"><span>SnowTricks</span></a></h1>
     		</div>

            {% if app.user %}  
        		{% if app.user.image %} 
       				<div class="roundedImage">  <a  href="{{ path('editProfil', {'id': app.user.id}) }}"> <img class="widthAvatar" src="{{ asset('/assets/uploads/' ~ app.user.image) }}" alt="image" > </a>  </div>Hello, {{ app.user }}  
 				{% else %}
       				<div class="roundedImage">    <a href="{{ path('editProfil', {'id': app.user.id}) }}"><img class="widthAvatar" src="{{ '/images/avatar.png'}}" alt="Mute" /></a> </div>Hello, {{ app.user }}   
				{% endif %} 
        	{% endif %} 
    
  			<nav class="nav-menu d-none d-lg-block">
      			<ul>
        			{% if app.user %}
          				<li><a href="{{ path('create') }}">Ajouter un tricks</a></li>
        			{% endif %}
          			{% if not app.user %}
              			<li><a href="{{ path('app_login')}}">Se connecter </a></li>
          			{% else %}
              			<li><a href="{{ path('app_logout') }}">Se deconnecter </a></li>
           			{% endif %}
           		</ul>
      		</nav>
      	</div>
  	</header>
	{% block body %}{% endblock %}

  		<nav  class="menuCenter" id='navigation'>  
			<ul class="menuResponsif">
   				<li> <a  href="{{ path('home')}}"> <img class="logoImage" src="{{ asset('/images/home.png') }}" alt="home" ></a></li>
 				{% if app.user %}
         			<li><a href="{{ path('create') }}"> <img  class="logoImage" src="{{ asset('/images/ajouter.png') }}" alt="add" ></a></li>
					<li><a href="{{ path('editProfil', {'id': app.user.id}) }}"> <img  class="logoImage" src="{{ asset('/images/profil.png') }}" alt="profil" ></a> </li>
        		{% endif %}
          		{% if not app.user %}
              		<li><a href="{{ path('app_login')}}"> <img class="logoImage"  src="{{ asset('/images/login.png') }}" alt="login" ></a></li>
          		{% else %}
              		<li><a  href="{{ path('app_logout') }}"><img class="logoImage" src="{{ asset('/images/logout.png') }}" alt="logout" > </a></li>
           		{% endif %}
			</ul>
      	</nav>
	  
  		<footer id="footer">
    		<div class="container">
     	 		<div class="copyright">
        			&copy; Copyright <strong><span>Djiek</span></strong>. All Rights Reserved
        			<small>(Ce site est un projet de formation)</small>
      			</div>
      			<div class="credits">
        			Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      			</div>
    		</div>
  		</footer>
  		<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

				<!-- Vendor JS Files -->
		<script src="{{asset('assets/vendor/jquery/jquery.min.js') }}"></script>
		<script src="{{asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{asset('assets/vendor/jquery.easing/jquery.easing.min.js') }}"></script>
		<script src="{{asset('assets/vendor/php-email-form/validate.js') }}"></script>
		<script src="{{asset('assets/vendor/waypoints/jquery.waypoints.min.js') }}"></script>
		<script src="{{asset('assets/vendor/counterup/counterup.min.js') }}"></script>
		<script src="{{asset('assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
		<script src="{{asset('assets/vendor/venobox/venobox.min.js') }}"></script>
		<script src="{{asset('assets/vendor/owl.carousel/owl.carousel.min.js') }}"></script>
		<script src="{{asset('assets/vendor/aos/aos.js') }}"></script>

		<!-- Template Main JS File -->
		<script src="{{asset('assets/js/main.js') }}"></script>
		<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
		
        {% block javascripts %}
        <script src="{{asset('/assets/js/images.js')}}"></script>
          <script src="{{asset('/assets/js/a2lix_sf_collection.js')}}"></script>
           <script src="{{asset('/assets/js/upload.js')}}"></script>   
      	{% endblock %}
</body>
</html>
